<div class="space-70"></div><div class="space-30"></div>
<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">Misson &amp; Vision Statement</h3>
  </div>
</section><!--page-tree end here-->

<div class="space-70"></div>
<section class="container text-center">
  <h2>SageGuard purposes to prudently protect resources and improve circumstances by accelerating connections and innovating solutions with Clarity, Focus, and Perspective.</h2>
</section>
<div class="space-30"></div>


<div class="container">
  <div class="space-70"></div><div class="space-30"></div>
  <section id="content-region-3" class="padding-40 page-tree-bg">
      <h3 class="page-tree-text">Core Companies</h3>
  </section><!--page-tree end here-->
</div>
<section id="core" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-sm-offset-2">
      <img src="assets/img/sageguard/sg logos/sg-complete-wheel.png">
    </div>
  </div>
</section>

<section id="optimization">

</section>
