        <section id="slider-sec" class="slider-reg">
            <div class="main-flex-slider">
                <ul class="slides">
                    <li>
                        <figure>
                            <img src="assets/img/img-1.jpeg" class="img-responsive" alt="slider-img-1">
                            <figcaption class="slider-overlay ">
                                <div class="slider-text animated fadeInDown">
                                    <h1>Clarity, Focus, Perspective</h1>
                                    <p>SageGuard's three areas of optimization</p>
                                    <p class="slide-btn"><a href="/cores#clarity" class="btn btn-white btn-lg">Learn More</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="assets/img/img-2.jpg" class="img-responsive" alt="slider-img-1">
                            <figcaption class="slider-overlay">
                                <div class="slider-text">
                                    <h1>WealthLogix</h1>
                                    <p>
                                        Witness the future of wealth analytics.
                                    </p>
                                    <p class="slide-btn"><a href="/wealthlogix" class="btn btn-white btn-lg">Learn More</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </section><!--main flex slider end-->
        <div class="space-50"></div>
        <div class="container">
            <div class="row intro-row">
                <div class="col-md-12 text-center wow animated fadeInUp">
                    <h2>Welcome to SageGuard</h2>
                    <p>SageGuard is a multi-industry conglomerate that aims to assemble and develop talent to build teams that create manageable, replicable, scalable businesses that purpose innovation to produce perpetual profits in the areas of energy, healthcare and technology. We do this by identifying both the vacuums of opportunity that exist and the innovative solution that fills it and accelerating the connection of the two by resourcefully optimizing relationships.</p>
                </div>
                <div class="space-70"></div>
                <div class=" col-sm-4">
                    <div class="services-box">
                      <a href="/portfolio">
                        <img src="assets/img/sageguard/graphics/Globe_Icon.png">
                      </a>
                        <h1>Portfolio</h1>
                        <p>
                            We at SageGuard pride ourselves in having a diverse portfolio of products from a wide range of industries.
                        </p>
                    </div>
                </div><!--services box-->
                <div class=" col-sm-4">
                    <div class="services-box">
                      <a href="/cores">
                        <img src="assets/img/sageguard/graphics/SG_Blue_Icon.png">
                      </a>
                        <h1>Cores</h1>
                        <p>
                            Branch businesses built off of the parent company include technology, energy, wealth management, consulting and sourcing.
                        </p>
                    </div>
                </div><!--services box-->
                <div class="col-sm-4">
                    <div class="services-box">
                      <a href="/venture">
                        <img src="assets/img/sageguard/graphics/V_Icon.png">
                      </a>
                        <h1>Venture</h1>
                        <p>
                            We focus on dependable income generation for our clients at acceptable risk, while providing services to early stage companies.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--row end-->
        </div><!--intro end-->
        <div class="space-30"></div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>Optimize your Business
                    <a href="#contact" class="btn btn-lg btn-white btn-radius">Contact Us</a>
                </h3>
            </div>
        </div>
        <div class="space-70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading-sec">Recent work</h3>
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="/portfolio">
                                <img style="height: 240px;" src="assets/img/work/wt-1.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">Water Tectonics</h4>
                            <span class="portfolio-post-cat">Energy</span>
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="/portfolio">
                                <img style="height: 240px;" src="assets/img/work/isign.png" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">iSign</h4>
                            <span class="portfolio-post-cat">Technology</span>
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="/portfolio">
                                <img style="height: 240px;" src="assets/img/work/red_apple.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">Red Apple Capital</h4>
                            <span class="portfolio-post-cat">Finance</span>
                        </div>
                    </div>
                </div><!--portfolio item -->
            </div><!--row portfolio item-->
        </div><!--recent work container end-->
        <div class="space-70"></div><div class="space-30"></div>
