<div class="space-70"></div><div class="space-30"></div>
<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">Venture</h3>
  </div>
</section><!--page-tree end here-->

<div class="space-70"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <img class="responsive-img" src="assets/img/sageguard/sg logos/sg-venture.png" alt="Sg venture">
    </div>
  </div>

  <div class="space-70"></div>

  <h2>SageGuard Venture is managed
  by seasoned professionals with
  over 30 years of experience</h2>

  <div class="space-70"></div>

  <p>SageGuard Venture is a corporation formed to meet the needs of emerging
  growth enterprises, investment clients and companies. We can offer a myriad of
  investment vehicles including private equity funding, debt solutions, direct investing
  and real estate in the form of REITs.</p>

  <p>We focus on dependable income generation for our clients at acceptable risk,
  while providing services to early stage companies. This is done through investments
  that you might choose as an alternative to traditional, low risk /low return, routine
  investment products.</p>

  <p>Our deals have been vetted by a gauntlet of professionals from our wide-ranging
  network in the private equity and business incubator community before they come to
  SageGuard Venture. This assures they are the very best opportunities available in
  our targeted area, with a lower risk than similar investments.</p>

  <p>Partner with SageGuard Venture on a steady income-producing product or
  higher return investment products. Our focus is on a balanced asset allocation
  strategy, centered on doing well by doing good in our community.</p>
</div>

<div class="space-30"></div>

<div class="cta-bg">
    <div class="container text-center">
        <h3>We Are Your Opportunity
            <a href="#contact" class="btn btn-lg btn-white btn-radius">Contact Us</a>
        </h3>
    </div>
</div>

<div class="space-70"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img class="center-block" src="assets/img/sageguard/graphics/grey1.png" alt="G1"><br>
      <h3 class="text-center">Large Companies</h3>
      <h3 class="subtitle text-center">
        Mergers and acquisitions, business growth, corporate turnarounds
      </h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img class="center-block" src="assets/img/sageguard/graphics/grey2.png" alt="G2"><br>
      <h3 class="text-center">Small Businesses</h3>
      <h3 class="subtitle text-center">
        Entrepreneurial start-ups, incubators, business potential assessment
      </h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img class="center-block" src="assets/img/sageguard/graphics/grey3.png" alt="G3"><br>
      <h3 class="text-center">Financial Management</h3>
      <h3 class="subtitle text-center">
        Financial &amp; retirement planning, generational transfers, corporate &amp; individual insurance products, money management, real estate
      </h3>
    </div>
  </div>
</div>
<div class="space-70"></div>
